:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: #242424;
  margin: 0; ;
  padding: 0;

}

body{
  margin: 0;
  padding: 0;
  background-color: #0f172a   ;
  height: 100vh;
  background-color: #111927;
    background-image: 
        radial-gradient(at 47% 33%, hsla(212, 77%, 40%, 0.442) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsla(218, 39%, 11%, 0.568) 0, transparent 55%);
}


.title{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.main{
  margin-top: 2%;
}

.title p{
  font-size: 1.2rem;
  /* background-color: red; */
}



.nav-title {
  background-color:#3341557e;
  /* width: 100vw; */
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
}

.jokes{

  margin: 3% 30%;
  color: whitesmoke;
  /* border: #334155 2px solid; */
  border-radius: 10px;
  padding: 3% 3%;

  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.upperPart{
  display: flex;
  justify-content: center;
  height: 200px;
  align-items: center;
}

.lowerPart{
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
/* 
.nextBtn{
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  background-color: #00b4d8;
  border: none;
  border-radius: 10px;
} */

.nextBtn:hover{
  background-color: #03045e;
}


.theJoke{
  text-align: left;
}



.btn-conteiner {
  display: flex;
  justify-content: center;
  --color-text: #ffffff;
  --color-background: #0077b6;
  --color-outline: #90e0ef;
  --color-shadow: #00000080;
}

.btn-content {
  display: flex;
  align-items: center;
  padding: 5px 30px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: var(--color-text);
  background: var(--color-background);
  transition: 1s;
  border-radius: 100px;
  box-shadow: 0 0 0.2em 0 var(--color-background);
  height: 50%;
}

.btn-content:hover, .btn-content:focus {
  transition: 0.5s;
  -webkit-animation: btn-content 1s;
  animation: btn-content 1s;
  outline: 0.1em solid transparent;
  outline-offset: 0.2em;
  box-shadow: 0 0 0.4em 0 var(--color-background);
}

.btn-content .icon-arrow {
  transition: 0.5s;
  margin-right: 0px;
  transform: scale(0.6);
}

.btn-content:hover .icon-arrow {
  transition: 0.5s;
  margin-right: 25px;
}

.icon-arrow {
  width: 10px;
  margin-left: 15px;
  position: relative;
  top: 6%;
}
  
/* SVG */
#arrow-icon-one {
  transition: 0.4s;
  transform: translateX(-60%);
}

#arrow-icon-two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.btn-content:hover #arrow-icon-three {
  animation: color_anim 1s infinite 0.2s;
}

.btn-content:hover #arrow-icon-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.btn-content:hover #arrow-icon-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: var(--color-background);
  }

  100% {
    fill: white;
  }
}

/* Button animations */
@-webkit-keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

@keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

